@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 786px;
  background-position: 116% -17%;
}

#cta {
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}

.hamburger {
  transition: all 0.25s;
  position: relative;
}

.swiper-pagination-bullet {
  background-color: hsl(12, 88%, 59%);
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url("../images/bg-simplify-section-mobile.svg");
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
